language: php

matrix:
  allow_failures:
    - php: hhvm

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

before_script:
    - composer self-update
    - composer install --dev

script: phpunit --coverage-clover clover
